body,
html {
  background-image: url(../src/pictures/backgroundimg1.jpg);
  background-size: cover;
  background-position: center center;
  background-repeat: repeat;
  background-color: '#0B0E1D';
}
.NameText {
  color: white;
  margin-left: 20px;
  padding: 40px;
  margin-top: '-120%';
  height: 1500;
  /* font-family: 'Major Mono Display', monospace; */
}
.headerBackground {
  padding: 20px;
}
.bg-text {
  background-color: rgba(0, 0, 0, 0.911);
  border: 2px solid rgb(119, 255, 223);
  margin-right: 4%;
  padding: 20px;
  height: auto;
}
.weatherDisplay {
  color: 'white';
  height: 40,
}
.PictureSlide {
  padding: 40;
  margin-top: 10,
}

.react-rotating-text-cursor {
  animation: blinking-cursor 0.8s cubic-bezier(0.68, 0.01, 0.01, 0.99) 0s infinite;
}
.contacts {
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.911);
  border: 2px solid rgb(119, 255, 223);
  margin-right: 4%;
  padding: 20px;
 

}

@keyframes blinking-cursor {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }

}